body {
    margin: 0
}

header {
    box-sizing: border-box;
    /* width: calc(100% - 40px); */
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;

}
header>img {
    /* margin-left: 20px; */
    height: 50px;
    margin-left: 130px;

}
.menu {
    width: fit-content;
    /* margin-right: 20px; */
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.menu div {
    padding-bottom: 5px; 
    cursor: pointer;     
  }
  
.menu div:not(.button1):hover{
    border-bottom: 2px solid rgb(241, 115, 115);
}

.underline{border-bottom: 2px solid rgb(241, 115, 115);}

.button1 {
    border: 1px solid black;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button1:hover {
    background-color: rgb(0, 0, 0);
    color: white
}


.container {
    max-width: 1200px;
    width: 90%;
    min-width: 800px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container_1 {
    width: 100%;
    height: 700px;
    background-image:
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img/bacground.jpg');
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    
} 

.container_1>.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container_1>.container>.title {
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
}

.container_1 .counters {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin: 25px 0;
}
.items{
    display: flex;
    
}

.items> .text__1{
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: left;
    
    
}

.items .count {
    color: #ff5a5a;
    font-size: 3em;
    font-weight: bolder;
    margin-right: 25px;
    
}
.title1 {
    font-size: 100px ;
    text-align: center;

}
.items .title {
    font-size: 2em;
    font-weight: bolder;
    /* display: flex; 
    align-items: center; 
    margin-left: 7.5px;*/
}

.items .description {
    font-size: 1em;
}

.container_1>.container>div:last-child {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}
.container_1 span {
    border-bottom: 2px solid rgb(255, 255, 255);
}
.container_1 span:hover {
    color: rgb(186, 189, 192);
    cursor: pointer

}


.container_2 {
    width: 100%;
    height: 750px;
    display: flex;
    

}
.left-section1{
    width: 55%;
    background-color: #00ac92;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: left;
    flex-wrap: wrap;

}

.item img{
    width: 90px;
    height: 75px;
}
.item h3{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
.item p{
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    line-height: 1.8;
    font-weight: 500;         
    text-align: left; 
}

.title_left-section1 {
    font-size: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    max-width: 550px;
    color: white;
    line-height: 1.2;
    margin-bottom: 35px;
   
}
.grid {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    gap: 40px;
    color: white;
    
}


.right-section1{
    width: 45%;
    background-color: #ff5a5a;
    color: white;
    padding: 100px 80px;
    font-family: "Open Sans", sans-serif;
}

  
.title_right-section1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
}
  
.description {
    font-size: 20px;
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 40px;
}
  
.benefits {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    line-height: 1.6;
}
  
  .benefits li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .button-learn-more {
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  .button-learn-more:hover {
    background-color: white;
    color: #e76f61;
  }




.container_3 {
    background-color: #293331;
    width: 100%;
    height: 700px;
    color: #ffffff;
    
}
.container {
    
    display: flex;
    /* align-items: center;
    justify-content: space-between;
    gap: 50px; */
}

.left-section2{
    width: 50%;
    color: white;
    padding: 100px 80px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title_left-section2 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 10px;
}
.description2 {
    font-size: 22px;
    line-height: 1.8;
    color: #ddd;
    margin-bottom: 25px;
}
.button3 {
    border: 2px solid white;
    padding: 15px 20px;
    font-weight: bold;
    background: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 30px;
    width: 50%;
    
  }
.container_3 div{
    font-size: 20px;
}
.container_3 span {
    border-bottom: 2px solid rgb(255, 255, 255);
    
}
.container_3 span:hover {
    cursor: pointer;
    color: #b6b4b4;
}
.button3:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
 .right-section2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container_3 .container>div {
    width: 50%;
    height: 100%;
}
.container_3 img {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
    z-index: 16;
}

.right-section2>div:first-child {
    width: 55%;
    aspect-ratio: 1/1;
    background-color: #ff5a5a;
    position: absolute;
    z-index: 5;
    top: 12%;
    right: 0%;
}

.right-section2>div:last-child {
     width: 70%;
    aspect-ratio: 1/1;
    background-color: #00ac92;
    position: absolute;
    z-index: 5;
    bottom: 10%;
    left: 0%;
}
.container_4 {
    width: 100%;
    height: 1500px;
    background-color: #293331;
    color: #ffffff;
    display: flex;
     align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}
h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
}
.grid1 {
    display: grid;
    /* grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px; */
    gap: 40px;
    color: white;
    margin-top: 30px ;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 500px; /* кожен рядок по 500px */
    font-size: 30px;
    
   
}
.container_4>div:last-child{
    font-size: 20px;
    margin-top: 30px;
  
}
 /* .container_4 span {
    border-bottom: 1px solid rgb(158, 158, 158);
 } */
.container_4 span:hover {
    cursor: pointer;
    color: #b6b4b4;
    border-bottom-color: #f77575;
    
}
.grid1>div{
    width: 400px;
    height: 500px;
    background-size: cover;       /* фотка піджимається і обрізається по блоку */
    background-position: center;  /* центрує фотку */
    background-repeat: no-repeat; /* щоб не дублювалась */
    border-radius: 10px;
   display: flex;
   align-items: end;
   
}
.dark{
    width: 100%;
    height: 40%;
    padding: 20px;
}
.item1 {
    background-image:
    linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.6) 40%,   /* низ затемнений до 40% */
      rgba(0, 0, 0, 0) 40%      /* далі прозорий */
    ),
        url('img/img1.jpg');
       
}     
.item2 {
    background-image:
    linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.6) 40%,   /* низ затемнений до 40% */
      rgba(0, 0, 0, 0) 40%      /* далі прозорий */
    ),
        url('img/img2.jpg');
} 
.item3 {
    background-image:
    linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.6) 40%,   /* низ затемнений до 40% */
      rgba(0, 0, 0, 0) 40%      /* далі прозорий */
    ),
        url('img/img3.jpg');
} 
.item4 {
    background-image:
    linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.6) 40%,   /* низ затемнений до 40% */
      rgba(0, 0, 0, 0) 40%      /* далі прозорий */
    ),
        url('img/img4.jpg');
} 
.item5 {
    background-image:
    linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.6) 40%,   /* низ затемнений до 40% */
      rgba(0, 0, 0, 0) 40%      /* далі прозорий */
    ),
        url('img/img5.jpg');
} 
.item6 {
    background-image:
    linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.6) 40%,   /* низ затемнений до 40% */
      rgba(0, 0, 0, 0) 40%      /* далі прозорий */
    ),
        url('img/img6.jpg');
} 
.container_4 span:last-child {
    border-bottom: 1px solid rgb(158, 158, 158);
}

.container_4 span:last-child:hover {
    color: rgb(186, 189, 192);
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 0, 0);
}


.container_5{
    width: 100%;
    height: auto;
    
    background-color: linear-gradient(0deg, rgba(41, 51, 49, 1) 0%, rgba(255, 255, 255, 1) 100%); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.first_back{
    height: 400px;
    width: 100%;
    background-color: #293331;
    display: flex;
    align-items: top;
    justify-content: center;
   
}
.text4{
    text-align: center;
    color: white
}
.title_1{
    font-size: 3rem
}
.description5{
    font-size: 1.5rem;
}
.container_5 span {
    border-bottom: 3px solid rgb(158, 158, 158);
}

.container_5 span:hover {
    /* color: rgb(186, 189, 192); */
    cursor: pointer;
    border-bottom: 2px solid rgb(179, 134, 134);
}

.second_back{
    height: 1100px;
    width: 100%;
background-color: linear-gradient(0deg, rgba(41, 51, 49, 1) 0%, rgba(255, 255, 255, 1) 100%); 
}
.grid2 {
    display: grid;
    /* grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px; */
    gap: 40px;
    color: white;
    margin-top: 30px ;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 350px; /* кожен рядок по 500px */
    font-size: 30px;
    position: relative;
    top: -150px;
    grid-row-gap: 20px;
    margin-bottom: 40px;
   
}

.grid2>div {
    width: auto;
    height: auto;
    background-size: cover;       /* фотка піджимається і обрізається по блоку */
    background-position: center;  /* центрує фотку */
    background-repeat: no-repeat; /* щоб не дублювалась */
    border-radius: 10px;
    position: relative;           /* щоб працював overlay */
    display: flex;
    flex-direction: column;  
         
    justify-content: end;  
    gap: 20px;
    padding: 10px 10px 20px 30px;
    align-items: left;  
    
    
    /* padding: 20px; */
    color: #fff;
    
    
}
.price{
    color: #ff5a5a ;
    font-size: 30px;
    font-weight: 600;
    padding: 0px;
}
.grid2 h3,.Price,p {
    margin: 0;
}
.grid2 h3{
    font-size: 20px;
}
.grid2 p{
    font-size: 15px;
}
.grid2 .price{
    font-size: 30px;
}

.item_1 {
  
    background-image:
    linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 100%,   /* низ затемнений до 40% */
        rgba(0, 0, 0, 0) 100%      /* далі прозорий */
      ),
   
        url('https://assets.nicepagecdn.com/d2cc3eaa/6411963/images/female-english-teacher-doing-her.jpg');
}
.item_2 {
   
    background-image:
    linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 100%,   /* низ затемнений до 40% */
        rgba(0, 0, 0, 0) 100%      /* далі прозорий */
      ),

        url('https://assets.nicepagecdn.com/d2cc3eaa/6411963/images/teacher-talking-with-her-student.jpg');
} 
.item_3 {
  
    background-image:
    linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 100%,   /* низ затемнений до 40% */
        rgba(0, 0, 0, 0) 100%      /* далі прозорий */
      ),
        
        url('https://assets.nicepagecdn.com/d2cc3eaa/6411963/images/medium-shot-woman-holding-docume.jpg');
} 
.item_4 {
  
    background-image:
    linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 100%,   /* низ затемнений до 40% */
        rgba(0, 0, 0, 0) 100%      /* далі прозорий */
      ),
  
        url('https://assets.nicepagecdn.com/d2cc3eaa/6411963/images/vertical-shot-freckled-brunette-young-woman-sits-home-with-credit-card_273609-19077.jpg');
} 
.item_5 {
   
    background-image:
    linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 100%,   /* низ затемнений до 40% */
        rgba(0, 0, 0, 0) 100%      /* далі прозорий */
      ),
  
        url('https://assets.nicepagecdn.com/d2cc3eaa/6411963/images/woman-working-office_144627-4422.jpg');
} 
.item_6 {
   
    background-image:
    linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 100%,   /* низ затемнений до 40% */
        rgba(0, 0, 0, 0) 100%      /* далі прозорий */
      ),
 
        url('https://assets.nicepagecdn.com/d2cc3eaa/6411963/images/virtual-classroom-study-space_23.jpg');
} 
.item_7 {
   
    background-image:
    linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 100%,   /* низ затемнений до 40% */
        rgba(0, 0, 0, 0) 100%      /* далі прозорий */
      ),
url('https://assets.nicepagecdn.com/d2cc3eaa/6411963/images/group-three-young-good-looking-s.jpg');
} 

.item_8 {
 
    background-image:
    linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.6) 100%,   /* низ затемнений до 40% */
        rgba(0, 0, 0, 0) 100%      /* далі прозорий */
      ),
 
        url('https://assets.nicepagecdn.com/d2cc3eaa/6411963/images/smiley-boy-using-laptop-headphon.jpg');
} 


.button-learn-more5{
    width: 150px;
    background-color: #ff5a5a ;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    cursor: pointer;
}
.button-learn-more5:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;

}
.container_5>button:last-child{
    width: 220px;
    height: 70px;
    background-color: rgb(253, 253, 253);
    padding: 10px 5px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    margin-top: -150px;
}
.container_5>button:last-child:hover{
    color:white;
    background-color: black;

}



.container_6{
    width: 100%;
    height: 500px;
    background-color: #fff;

}
.first_part {
    
    width: 100%;
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
.first_part h2{
    font-size: 50px;
}
.first_part p{
    font-size: 25px;
    font-weight: 100;
    line-height: 1.5
    
}

.second_part {
     height: 60%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
  
}
    
.second_part img {
    height: 100px;
    object-fit: contain;
}

.container_7{
    width: 100%;
    height: 1300px;
    background-color: #ff5a5a;
    /* margin:  30px 20px 30px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container_7 h1{
   color: #ffffff;
   font-size: 60px;
}

.grid3 {
    display: grid;
    /* grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px; */
    gap: 40px;
    color: white;
    margin-top: 30px ;
    grid-template-columns: repeat(3, 370px);
    grid-auto-rows: 450px; /* кожен рядок по 500px */
    font-size: 30px;
    position: relative;
    
   line-height: 10px;
    margin-bottom: 40px;
   
}
.grid3 img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;


}
.grid3>div {
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_7>div:last-child {
    color: #fff;
    font-size: 20px;

}
.container_7 span {
    border-bottom: 2px solid rgb(255, 255, 255);
}
.container_7 span:hover {
    color: rgb(186, 189, 192);
    cursor: pointer;
    border-bottom: 0px solid rgb(255, 255, 255);
}
.icons{
    padding-top: 10px;
    
    display: flex;
    gap: 40px;
    padding-top: 40px;
    
    cursor: pointer;
}
.icons img{
    height: 20px;
    width: 20px;
    

}
.grid3 p{
    font-size: 25px;
    font-weight: 200;
}