body {
    margin: 0
}

header {
    box-sizing: border-box;
    /* width: calc(100% - 40px); */
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;

}
header>img {
    /* margin-left: 20px; */
    height: 50px;
    margin-left: 130px;

}
.menu {
    width: fit-content;
    /* margin-right: 20px; */
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.underline{border-bottom: 2px solid rgb(241, 115, 115);}

.button1 {
    border: 1px solid black;
  padding: 8px 20px;
  border-radius: 5px;

}


.container {
    max-width: 1200px;
    width: 90%;
    min-width: 800px;
    height: 100%;
    margin: auto;
}

.container_1 {
    width: 100%;
    height: 700px;
    background-image:
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('img/bacground.jpg');
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.container_1>.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container_1>.container>.title {
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
}

.container_1 .counters {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 25px 0;
}

.items>div {
    display: flex;
}

.items .count {
    color: #ff5a5a;
    font-size: 3em;
    font-weight: bolder;
}

.items .title {
    font-size: 2em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    margin-left: 7.5px;
}

.items .description {
    font-size: 1em;
}

.container_1>.container>div:last-child {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.container_3 {
    background-color: #293331;
    width: 100%;
    height: 700px;
}
.container_3 .container {
    display: flex;
}

.container_3 .container>div {
    width: 50%;
    height: 100%;
}

.container_3 .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container_3 img {
    width: 75%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
    z-index: 16;
}

.right-section>div:first-child {
    width: 45%;
    aspect-ratio: 1/1;
    background-color: #00ac92;
    position: absolute;
    z-index: 5;
    top: 10%;
    right: 5%;
}

.right-section>div:last-child {
    width: 45%;
    aspect-ratio: 1/1;
    background-color: #ff5a5a;
    position: absolute;
    z-index: 5;
    bottom: 10%;
    left: 5%;
}