.container {
    width: 100%;
    height: 800px;
    padding: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 226, 226);
}

.grid {
    width: 80%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50% 20% 30%;
    gap: 10px;
    /* repeat(3, 250px); */
    font-family: 'Times New Roman', Times, serif;

}
.grid .i1, .i3, .i6, .i7, .i8{
    border-radius: 20px;
}
.i1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 20px;

}
.i1 p{
    color: rgb(143, 140, 140);
}
.i1 > .right,
.i1 > .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    box-sizing: border-box;
}
.phone{
    
    overflow: hidden;
}
.right {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.right img{
    width: 90%;
    height: auto;
    object-fit: contain;
    /* transform: translateY(30%); */
}
.chat {
    position: absolute;
     top: 25%;
    left: 10%;
    
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
   
  }
  
 
  .bubble {
    width: 98%;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    box-sizing: border-box;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    
  }
  

  .bubble.black1 {
    background-color: #000;
    color: #fff;
    align-self: flex-start;
    transform: rotate(-2deg) translateX(-40%);
    
  }
  
  .bubble.white1 {
    background-color: #f4f4f4;
    color: #000;
    align-self: flex-end;
    transform: rotate(2deg) translateX(25%);
  }
  .bubble.black2 {
    background-color: #000000;
    color: #ffffff;
    align-self: flex-end;
    transform: rotate(2deg) translateX(-40%);
  }
  .bubble.white2 {
    background-color: #f4f4f4;
    color: #000;
    align-self: flex-end;
    transform: rotate(-2deg) translateX(25%);
  }

.i3 {
    background-image: url("./images/clouds-bg.avif");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    gap: 7%;
    padding: 10px 20px;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    
}
.i3 h1{
    font-size: 70px;
    font-weight: 500;
}
.text1 h3{
    font-size: 28px;
}
.i3 p{
    color: rgba(253, 253, 253, 0.6);
    font-size: 13px;
}
.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.i6 {
    background-color: white;
    grid-column: 3 / 3;
    grid-row: 2 / -1;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    
}
.top_box{
    width: 100%;
    height: 30%;
}
.bottom_box{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap:13%;
   padding-left: 1%;
   width: 100%;
   height: 70%;
    

}
.item1,.item2,.item3,.item4,.item5{
    width: auto;
    background: #f4f4f4;
    border-radius: 50px;
    padding: 5px 5px 5px 5px;
    font-size: 17px;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    /* font-weight: 600; */
    color: #111;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    animation: float 6s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
@keyframes float {
    0%   { transform: rotate(var(--deg)) translateY(0%); }
    /* 25%  { transform: rotate(var(--deg)) translateY(-4px); } */
    50%  { transform: rotate(var(--deg)) translateY(-6px); }
    /* 75%  { transform: rotate(var(--deg)) translateY(4px); } */
    100% { transform: rotate(var(--deg)) translateY(6px); }
  }
.item1{
    grid-row: 1/2;
    grid-column: 1/2;
    transform: rotate(-2deg) translateY(10%); 
}

.item2{
    grid-row: 1/2;
    grid-column: 2/3;
    transform: rotate(8deg) translateX(-15%);
}
.item3{
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
    width: 60%;
    text-align: center;
    font-size: 25px;
    transform: rotate(6deg)
}
.item4{
    grid-row: 3/4;
    grid-column: 1/2;
    transform: rotate(8deg) translateY(-30%);;
}
.item5{
    grid-row: 3/4;
    grid-column: 2/3;
    transform: rotate(-4deg);
}

.i7 {
    background-color: rgb(0, 0, 0);
    color: white;
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    font-family: "Inter", "Inter Placeholder", sans-serif;
}
.i7 p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}
.i7 h2{
    
    margin: 0%;
    font-size: 70px;
}

.i8 {
    background-color: white;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 5px 15px 15px;
    font-family: "Inter", "Inter Placeholder", sans-serif;;
    
}
.i8 h3{
    font-size: 28px;
    margin: 0px;
    font-weight: 500;
}
.i8 p{
    font-size: 16px;
    color: rgba(90, 90, 90, 0.6);
}


@media screen and (min-width: 800px) and (max-width: 1200px) {
    .container{
        width: 100%;
        height: auto ;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 1.5fr 1.5fr 2fr ;
    }
    
    .i1 {
        grid-row: 1/2;
        grid-column: 1/3;
        height: 500px;
        /* padding: 0px 40px 0px 40px; */
        gap: 80px
    }
    .i1 > .right,
    .i1 > .left {
        width: 40%;
    }
    .right{
        display: flex;
        align-items: center;
        
        
    }
    .phone {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }
       
    .chat{
        width: 90%;
    }
      .phone img {
        width: auto;
        transform: translateY(43%);
        
      }
    
      
    .i7{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .i8{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    .i3{
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .i6{
        grid-row: 4/5;
        grid-column: 1/3;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 799px) {
    .container{
        width: 100%;
        height: auto;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2fr 1.3fr 1.3fr 1.5fr 2fr  ;
    }

    .i1 {
        grid-row: 1/2;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        
    }
    .phone{
        height: 50%;
    }
    .phone img {
        transform: translateY(-50%);
      
      }
      .i1 > .left{
        height: 30%;
        transform: translateX(30%);
    }
    .i1 > .right{
        height: 50%
    }
    .i7{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .i8{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .i3{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .i6{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    
}
















































