header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    
    

}
header>img{
    padding-left: 7%;
}
.menu{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: end;

    justify-content: space-between;
    text-transform: capitalize;
    padding-right: 5%;
    font-size: large;
}
.menu>div:first-child:hover{
    color: #4cb992;
    cursor: pointer;

}
.about{
    color:rgb(162, 162, 222);
    cursor: pointer;
    
}
.menu>div:last-child:hover{
    color: #4cb992;
    cursor: pointer;

}
.container_1{
    width: 100%;
    height: auto;
    background-color: #4f4760;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.text1{
    color: white;
    display: flex;
    flex-direction: column;
    
    text-align: center;
}
.text1>h1{
    font-size: 70px;
}
.text1>p{
    font-size: 25px;
}

.box{
    width: 80%;
    height: 350px;
    display: flex;
   
    gap: 3%;
    padding: 50px 0px 100px 0px;
    color: white
    
}
.item_1,.item_2,.item_3,.item_4{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    
}

.item_1{
    background-color: #8b74ba;
}
.item_2{
    background-color: #4cb992;
}
.item_3{
    background-color: #3499e1;;
}
.item_4{
    background-color: #eb9d53;
}
.bg1{
    background-color: white;
    width: 70%;
    height: auto;
    margin-top: -40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
    text-align: center;
    line-height: 1;
    
}
.bg1>h1{
    font-size: 40px;
    padding: 0;
    margin: 0;
}
.bg1>p{
    font-size: large;
}
.item_1 > .bg1,
.item_1> .button1{
    color: #8b74ba;
}
.item_2>.bg1,
.item_2> .button2{
    color: #4cb992;
}
.item_3>.bg1,
.item_3> .button3{
    color: #3499e1;
}
.item_4>.bg1,
.item_4> .button4{
    color: #eb9d53;
}
.smth{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .smth>h4{
    font-size: 20px;
    font-weight: 200;
}
.smth>p{
    margin-top: -20px;
    font-size: 15px;
    line-height: 1.7;
}
.button1,.button2,.button3,.button4{
    width: 60%;
    height: 10%;
    border-radius: 30px;
    border-color: rgb(255, 255, 255);
    font-size: large;
    background-color: white;
    padding: 5px 8px 5px 8px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    cursor: pointer;

    
}
.button1:hover{
    cursor: pointer;
    background-color: rgb(172, 164, 185, 1);
    
}
.button2:hover{
    cursor: pointer;
    background-color: rgb(152, 224, 193);
    
}
.button3:hover{
    cursor: pointer;
    
    background-color: rgba(168, 206, 233, 1);
    
}
.button4:hover{
    cursor: pointer;
    background-color: rgb(227, 177, 128);
    
}
/* background-image: url(//images01.nicepage.com/74/42/7442a5a….jpeg); */
.container_2{
    width: 100%;
    height: 1000px;
    font-family: 'Open Sans', sans-serif;


}

.background_1{
    
    height: 40%;

}
.background_2{
    height: 60%;
    background-image: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('imges/bg2.jpeg');

    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: start;
    
    
    

}

.grid_1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 20px;
    width: 80%;
    height: 70%;
    margin-top: -250px;
    
    
}
.item1 { grid-column: 1 / 2; grid-row: 1 / 3; }
/* .item2 { grid-column: 2 / 3; grid-row: 1 / 2; } */
/* .item3 { grid-column: 3 / 4; grid-row: 1 / 2; } */
.item7 {grid-column: 2 / 4; grid-row: 3 / 3;}
     

    
.grid_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .item1{
    background-color: #b79f6d;
    color: white;
    padding: 50px 40px;
    line-height: 2.0;
    font-weight: 100;
  }
  .item1>h3{
    font-size: 23px;
  }
  .item4{
    color: #b79f6d;
  }
  .item7{
    background-color: white;
    padding: 10px 30px;
    line-height: 1.5;
  }
  .item4{
    display: flex;
    
    align-items: center;
    margin-left: 5%;
    font-size: 25px;
  }
.item7>button{
    border-radius: 2px;
    width: 25%;
    height: 20%;
    background-color: white;

}
.item7>button:hover{
    color: white;
    background-color: #2d322f;

}
.container_3{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px 0px 50px 0px;
    box-sizing: border-box; 
    font-family: Roboto, sans-serif;
    

}

.grid_3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
     gap: 20px; 
    
    width: 80%;
    height: 70%;
 
    
    
}

.i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9 {
    width: 100%;              /* або % */
    height: 100%;             /* обов’язково! */
    background-size: cover;    /* щоб картинка розтягувалась */
    background-position: center;
    background-repeat: no-repeat;
  }
.i1{
    /* background-image: url("https://images01.nicepage.com/64/a4/64a42f0d0ba1a81a186655a4e123988d.jpeg"); */
  
        /* display: flex;
        justify-content: end;
        align-items: end;*/

    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: end;

}
.i1>img{
    width: 70%;
    height: 90%;
    object-fit: cover;
}

.i2{
    /* background-image: url("https://images01.nicepage.com/31/ee/31eeeebcf208dbb4c9feeab14b4d8307.jpeg"); */
    
    
}
.i2>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.i3{
    /* background-image: url("https://images01.nicepage.com/f5/a1/f5a1d7165b77e8984682e59f3627c626.jpeg"); */
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: start;
}
.i3>img{
    object-fit: cover;
    width: 80%;
    height: 75%;
}

.i4{
    /* background-image: url("https://images01.nicepage.com/c2/01/c2019167dd66aebefd76948301fb4487.jpeg"); */

}
.i4>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.i5{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 150%;
    height: 140%;
    place-self: center;
    z-index: 1;
    /* padding: 15% 24%; */


}
.i5 h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
   

  }
  
  .i5 p {
    font-size: 23px;
    font-weight:300;
    line-height: 1.3;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 0px 30px;
   
    
    
  }
  
  .i5 button {
    background-color: rgb(237, 71, 71);
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .i5 button:hover {
    background-color: #f61313;
    color: rgb(195, 191, 191);
  }

.i6{
    /* background-image: url("https://images01.nicepage.com/1a/21/1a21d1171d04f86c41c5076644adbd5c.jpeg"); */
   
}
.i6>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.i7{
    /* background-image: url("https://images01.nicepage.com/2a/62/2a62684f28c4733c729d991f2e00bcda.jpeg"); */
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: end;
}
.i7>img{
    object-fit: cover;
    width: 85%;
    height: 60%;
}

.i8{
    /* background-image: url("https://images01.nicepage.com/9e/e7/9ee77f676570b4bb75d95d4d83d8f0d4.jpeg"); */

}
.i8>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.i9{

    /* background-image: url("https://images01.nicepage.com/2e/19/2e19fdb9cb9ed273bc4ca0dacd49be2c.jpeg"); */
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: start;
}
.i9>img{
    object-fit: cover;
    width: 60%;
    height: 85%;
}
html, body {
    margin: 0;
    padding: 0;
}